<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">Pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="{{ pokeImage }}" class="image" />
    <ion-card-header>
      <ion-card-title class="title name">{{ pokemonName }}</ion-card-title>
      <div class="subtitles">
        <ion-card-subtitle *ngFor="let type of types" class="subtitles__item">{{ type.type.name }}</ion-card-subtitle>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="inset">
        <ion-item *ngFor="let pokeStat of stats">
          <ion-label class="stats">{{ pokeStat.stat.name }} <span>{{ pokeStat.base_stat }}</span></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button class="btn" color="medium" fill="outline" size="large" shape="round" expand="full"
    routerLink="/folder/inbox">Voltar</ion-button>
</ion-content>